# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# 数据和模型
/data/
work_dirs/
checkpoints/
external_images/
*.pth
*.ckpt
*.npz
*.h5
*.onnx

# 日志和输出
*.log
*.out
*.tmp
*.tensorboard

# 图片和大文件
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.zip
*.tar
*.tar.gz
*.7z
*.npy

# VSCode
.vscode/

# MacOS/Linux/Windows系统文件
.DS_Store
Thumbs.db

# 编译/构建
build/
dist/
.eggs/
*.egg-info/

# 测试缓存
htmlcov/
.coverage
.cache/

# 其他
.env
.env.*

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/en/_build/
docs/zh_cn/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea

# custom
*.pkl
*.pkl.json
*.log.json
docs/modelzoo_statistics.md
mmdet/.mim

# Pytorch
*.py~
*.sh~
